<div class="page icon-library">
	<div class="wrapper">
		<h1>Icon Library</h1>
		<p>All icons will need <strong>.font-icon</strong> class</p>

		<section class="icon-library__wrapper">

			<div class="icon-library__container">
				<span class="font-icon icon-house"></span>
				<span class="icon-library__name">.icon-house</span>
			</div>

			<div class="icon-library__container">
				<span class="font-icon icon-agenda"></span>
				<span class="icon-library__name">.icon-agenda</span>
			</div>

			<ul class="icon-library__list">
				<li class="icon-library__list__item">
					
				</li>
				<li class="icon-library__list__item icon-library__list__item--active">
					
				</li>
			</ul>


		</section>
	</div>		
</div>
