<div class="inventory" ng-controller="inventoryController" ng-init="user='{{user.name}}'; secret='{{user.secret}}'">

	<div class="wrapper">
		<div class="search-panel">
			<label for="search">Search:</label>
			<input type="text" ng-model="test" name="search">
		</div>	
		<table class="table-data">
			<thead class="table-data__thead">
				<tr class="table-data__tr table-data__tr--head">
					<th class="table-data__th">Name</th>
					<th class="table-data__th">Brand</th>
					<th class="table-data__th">Quantity</th>
				</tr>
			</thead>
			<tbody class="table-data__tbody">
				<tr class="table-data__tr" ng-repeat="x in inventory | filter:test | orderBy:'item'">
					<td class="table-data__td">
						<[x.item]>
					</td>
					<td class="table-data__td">
						<[x.brand]>
					</td>
					<td class="table-data__td">
						<[x.quantity]>
					</td>
                    <td class="table-data__td">
					<input type="submit" ng-click="remove($index)" id="submit" value="delete"/>					
				    </td>
				</tr>
            </tbody>
		</table>
 
        

		
	<form ng-submit="addItem()">
					<label for="addName">Name</label>
					<input type="text" id="addName" ng-model="addName"/>

					<label for="addBrand">Brand</label>
					<input type="text" id="addBrand" ng-model="addBrand"/>

					<label for="addQuantity">Quantity</label>
					<input type="text" id="addQuantity"  ng-model="addQuantity"/>
					
					<input type="submit" id="submit" value="Create" />
	</form>

	

	</div>
</div>




