<div class="logme">
    <div class="wrapper">
        <form role="form" action="/process?form=logme" method="POST">
            <div class="form-group">
                <label for="user">User:</label>
                <input type="text" name="user" class="form-control" id="user">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" name="pwd" class="form-control" id="pwd">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>